{% set showcase_image = page.media.images|first %}
{% if showcase_image %}
	<div class="modular-row showcase flush-top" style="background-image: url({{ showcase_image.url }});">
{% else %}
    <div class="modular-row showcase flush-top">
{% endif %}
    <div class="content">
        {{ content }}

    {% for button in page.header.buttons %}
        {#<div class="btn__wrapper">#}
            {#<a class="button btn{% if button.primary %} primary{% endif %}" href="{{ button.url }}">{{ button.text }}</a>#}
        {#</div>#}
        <!-- Modal Trigger -->
        <a class="waves-effect waves-light btn {% if button.primary %} primary{% endif %}" href="#modal1">{{ button.text }}</a>

        <!-- Modal Structure -->
        <div id="modal1" class="modal">
        <div class="modal-close btn">Close</div>
            <form action="https://www.getdrip.com/forms/46000788/submissions" method="post" data-drip-embedded-form="46000788">
                <div class="modal-content">
                    <h2 data-drip-attribute="headline">{{ button.text }}</h2>
                    <label for="fields[email]">Email Address</label>
                    <input type="email" name="fields[email]" value="" />
                    <label for="fields[name]">Name</label><br />
                    <input type="text" name="fields[name]" value="" />
                </div>
                <div class="modal-footer">
                    <input class="modal-action modal-close waves-effect waves-green btn" type="submit" name="submit" value="{{ button.text }}" data-drip-attribute="sign-up-button" />
                </div>
            </form>
        </div>

    {% endfor %}
    </div>
</div>
