<div class="modular-row callout {{ page.header.classes }}">
{% if page.header.container == true %}
    <div class="container">
        {{ content }}
    </div>
{% else %}
    {{ content }}
{% endif %}
</div>
