.brands {
  .container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex: 1 0;
    align-items: center;
  }
  border-bottom: $brown 2px solid;
  img {
    height:100px;
  }
}