.modular {
  .features {
    padding: 6rem 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    //background-color: #7E7063;
    background: url(../images/bg-image.jpg) no-repeat;
    background-attachment: fixed;
    background-position: bottom center;
    width: 100%;
    color: #F7F0E8;

    h2 {

      margin: 0;
      line-height: 100%;
    }

    p {
      margin: 1rem 0;

    }

    .feature-items {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }

    .feature {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      width: 25%;
      margin-top: 2rem;
      margin-bottom: 1rem;
      background-color: #322A22;
      padding: 1em 0.5em;
      border: #28518C solid 0.25em;
      border-radius: 1em;
      box-sizing: content-box;
      @media (max-width: $small-screen) {
      width: 100%;
    }

      i.fa {
        font-size: 2em;
        color: #28518C;
        width: 100%;
        background-color: #F7F0E8;
        padding: 0.2em;
      }
      h4 {
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
    }

  }
}
