$gradient-color1: transparentize(color("deep-purple", "darken-3"), 0.7);
$gradient-color2: transparentize($primary-color, 0.7);
.showcase {
  width: 100vw;
  height: 100vh;
  background: radial-gradient(
                  ellipse at 50% 50%,
                  $gradient-color1,
                  $gradient-color2 70%),
                  url("../images/bg-image.jpg") no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  //display: flex;
  //justify-content: center;
  //align-items: center;
  //flex-direction: column;

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: color("deep-purple", "lighten-5");
    text-shadow: 1px 1px 2px color("deep-purple", "darken-4");

    h1 {
      text-align: center;
      font-weight: 700;
      width: 70%;
      font-size: ($h1-fontsize)*.7;
    }

    h3 {
      text-align: center;
      font-weight: 700;
      width: 80%;
      font-size: ($h3-fontsize)*.7;
    }

    .btn__wrapper {
      display: flex;
      justify-content: center;
      align-content: center;
    }
  }
  form {
    text-shadow: none !important;
    padding: 1rem;
  }
}


