{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png') }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url('theme://images/apple-touch-icon.png') }}"/>
    <link rel="icon" type="image/png" href="{{ url('theme://images/favicon-32x32.png" sizes="32x32') }}">
    <link rel="icon" type="image/png" href="{{ url('theme://images/favicon-16x16.png" sizes="16x16') }}">
    <link rel="manifest" href="{{ url('theme://images/manifest.json') }}">
    <link rel="mask-icon" href="{{ url('theme://images/safari-pinned-tab.svg" color="#3a237e"') }}>
    <link rel="shortcut icon" href="{{ url('theme://images/favicon.ico"') }}>
    <meta name="msapplication-config" content="{{ url('theme://images/browserconfig.xml"') }}>
    <meta name="theme-color" content="#ffffff">
    <link rel="canonical" href="{{ page.url(true, true) }}" />

    {% block stylesheets %}
        {% do assets.addCss('https://use.fontawesome.com/6cea3401fb.css', 99) %}
        {% do assets.addCss('theme://css/materialize.css', 98) %}
    {% endblock %}
    {{ assets.css() }}

    {% block javascripts %}
        {% do assets.addJs('jquery',101) %}
        {% do assets.addJs('theme://js/build/scripts.js') %}

    {% endblock %}
    {{ assets.js() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Average|Fjalla+One|Montserrat:300|Material+Icons" rel="stylesheet">
    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
            n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
            document,'script','https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '482207655317924', {
            em: 'insert_email_variable,'
        });
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
                   src="https://www.facebook.com/tr?id=482207655317924&ev=PageView&noscript=1"
        /></noscript>
    <!-- DO NOT MODIFY -->
    <!-- End Facebook Pixel Code -->
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
					(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-94071208-1', 'auto');
			ga('send', 'pageview');

    </script>

{% endblock head%}
</head>
<body id="top" class="{{ page.header.body_classes }}">

{% block header %}
    <header class="header navbar-fixed">
        <div class="wrapper padding">
            {% block header_navigation %}
                <nav class="main-nav">
                    <a class="brand-logo" href="{{ base_url == '' ? '/' : base_url }}">
                        Strik3
                    </a>
                    {% block social %}
                        {% include 'partials/social.html.twig' %}
                    {% endblock %}
                    {% include 'partials/navigation.html.twig' %}
                </nav>
            {% endblock %}

        </div>
    </header>
{% endblock %}

{% block body %}
    <main>
        {% block content %}{% endblock %}
    </main>
{% endblock %}

{% block footer %}
    <footer class="page-footer">
        <div class="footer-copyright">
            <div class="container">
                © 2017 Copyright Strik3
            </div>
        </div>
    </footer>
{% endblock %}

{% block bottom %}
    {{ assets.js('bottom') }}

{% endblock %}
<script type="text/javascript">
	$(document).ready(function(){
		// the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
		$('.modal').modal({
          dismissible: true,
        });
        $(".button-collapse").sideNav();
	});
</script>
<script>
    fbq('track', 'ViewContent', {
        value: 3.50,
        currency: 'USD'
    });
</script>
<!-- Drip -->
<script type="text/javascript">
	var _dcq = _dcq || [];
	var _dcs = _dcs || {};
	_dcs.account = '6570612';

	(function() {
		var dc = document.createElement('script');
		dc.type = 'text/javascript'; dc.async = true;
		dc.src = '//tag.getdrip.com/6570612.js';
		var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(dc, s);
	})();
</script>


</body>
