<ul class="social-icons right hide-on-med-and-down">
    {% for social in site.social %}
        <li>
            <a href="{{ social.url }}" rel="noopener noreferrer" target='_blank'>
                {% if social.icon %}<i class="fa fa-{{ social.icon }}"></i>{% endif %}
            </a>
        </li>
    {% endfor %}
</ul>  
