{% extends 'partials/base.html.twig' %}


    {% block content %}
        {% if page.header.container == true %}
<div class="container">
    {% else %}
    <div>
        {% endif %}
        {{ page.content }}
        {% if page.header.download == true %}
            {{ include('components/form.html.twig') }}
        {% endif %}
    </div>

    {% endblock %}

