
    <!-- Modal Trigger -->
<a class="waves-effect waves-light btn {% if button.primary %} primary{% endif %}" href="#modal2">Download Now</a>

<!-- Modal Structure -->
<div id="modal2" class="modal">
    <div class="modal-close btn">Close</div>
    <form action="https://www.getdrip.com/forms/55535201/submissions" method="post" data-drip-embedded-form="55535201">
        <div class="modal-content">
            <h2 data-drip-attribute="headline">Download Slides</h2>
            <label for="fields[email]">Email Address</label>
            <input type="email" name="fields[email]" value="" />
            <label for="fields[name]">Name</label><br />
            <input type="text" name="fields[name]" value="" />
        </div>
        <div class="modal-footer">
            <input class="modal-action modal-close waves-effect waves-green btn" type="submit" name="submit" value="Download Now" data-drip-attribute="sign-up-button" />
        </div>
    </form>
</div>